p {
    color: grey;
}
button {
    color: blue;
}
body {
    font-family: 'Times New Roman', Courier, monospace;
    font-size: 20px;
    color:black;
}
.main {
    border-style: solid;
    border-color: blueviolet;
    border-width: 15px;
    width: "fit-content";
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    background-image: url(https://thf.bing.com/th/id/OIP.WJKq3HnJq8-h1pvdaqd6bAHaEK?w=323&h=181&c=7&r=0&o=7&cb=thfc1falcon2&pid=1.7&rm=3);
    background-size: cover;
    height: 100vh
}
.top {
    display: flex;
}