p {
    color: grey;
}
button {
    color: blue;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Courier, monospace;
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://thf.bing.com/th/id/OIP.WJKq3HnJq8-h1pvdaqd6bAHaEK?w=323&h=181&c=7&r=0&o=7&cb=thfc1falcon2&pid=1.7&rm=3);
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    color:black;
}
.main {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    background-image: url("https://th.bing.com/th/id/OIP.QrPCIDe4i8G_3iiKGFm7tQHaFB?w=241&h=180&c=7&r=0&o=7&pid=1.7&rm=3");
    background-size: cover;
    overflow-y: scroll;
    user-select: none; 
    cursor: grab;
}
.bottom {
    bottom: 0%;
    position: fixed;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    background-color: #ffd540;
    justify-content: space-between;
    padding: 12px;
    /*Hiding the bottom bar logic - I used Gemini to help me with this*/
    transform: translateY(85%); 
    transition: transform 0.3s ease-in-out; 
}
.bottom:hover {
    transform: translateY(0%);
}
#welcome {
    position: absolute;
}
#app_1 {
    padding-top: 64px; 
    padding-left: 16px;
}